body {
	height: 100%;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

#main {
	max-height: calc(100% - 120px);
	padding: 0px 10% !important;
	margin-top: 100px !important;
}

.row-centered {
	text-align: center;
}

.col-centered {
	display: inline-block;
	float: none;
	text-align: left;
	margin-right: -4px;
}

.main-content {
	margin-top: 10px;
}